{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Alpha5 welcomes you!</title>
  {% include 'base.html' %}
</head>

<body id="page-top" style="background-image: url('static/images/bg-living.jpg');" >
  {% include 'navbar.html' %}
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center" style="background-image: url('static/images/bg-living.jpg');">
      <div class="mx-auto text-center" style="background-image: url('static/images/bg-living.jpg');"> 
        <h3 class="mx-auto my-0 text-uppercase" style=" color: black; ">Alpha5</h3>
        <h2 class="text-white-50 mx-auto mt-2 mb-3 text-white" style="font-size: medium; background-image: url('static/images/bg-living.jpg');" >A free website developed for ration shops to book time slots as per the demand of the user.</h2>
        <a href="{% url 'customer:search_time_slot'%}"  style="margin: 150px; " class="btn btn-primary js-scroll-trigger">Get Started</a>
      </div>
    </div>
  </header>

 


{% include 'manager/scripts.html' %}
</body>

</html>
