<html>
<head>
<style>

 
  
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
  
</style>
  
<body>

<h1>LOGIN</h1>
<center>
  <img
          src="https://cdn.vectorstock.com/i/1000x1000/77/59/user-login-or-authenticate-icon-personal-vector-29007759.webp"
          class="w3-margin"
          alt="Person"
          max-width="100%"
          height="200px"
          style="border-radius: 100%"
        />
</center>
 <center>
 <style>
        .GFG {
            background-color: lightblue;
            border: 2px solid black;
            color: black;
            padding: 5px 10px;
            text-align: center;
            display: inline-block;
            font-size: 20px;
            margin: 10px 30px;
            cursor: pointer;
        }
    </style>
<head>
  
<body>
  
      
    <!-- Adding link to the button on the onclick event -->
    <button class="GFG" 
    onclick="window.location.href = 'https://ide.geeksforgeeks.org';">
        User Login
    </button>
   <button class="GFG" 
    onclick="window.location.href = 'file:///C:/Users/roshn/Desktop/vendor%20login.htm';">
        Vendor Login
    </button>

   
</body>
  <center>
<html>
